In [4]:
import pandas as pd

weather=pd.read_csv('/home/onyxia/france-grid-stress-prediction/data/raw*/weather/weather_paris_2024.csv')

weather.head()

,date,temperature_2m,wind_speed_10m,cloud_cover,direct_radiation,diffuse_radiation
0,2024-01-01 00:00:00+00:00,7.31,26.874910,35.0,0.0,0.0
1,2024-01-01 01:00:00+00:00,7.31,25.570139,51.0,0.0,0.0
2,2024-01-01 02:00:00+00:00,7.16,25.704100,24.0,0.0,0.0
3,2024-01-01 03:00:00+00:00,6.96,25.199997,40.0,0.0,0.0
4,2024-01-01 04:00:00+00:00,6.81,24.774696,47.0,0.0,0.0

In [5]:
weather.info()
weather.describe()
weather.isna().sum()
weather['date'].min(), weather['date'].max()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               8784 non-null   object
 1   temperature_2m     8784 non-null   float64
 2   wind_speed_10m     8784 non-null   float64
 3   cloud_cover        8784 non-null   float64
 4   direct_radiation   8784 non-null   float64
 5   diffuse_radiation  8784 non-null   float64
dtypes: float64(5), object(1)
memory usage: 411.9+ KB

('2024-01-01 00:00:00+00:00', '2024-12-31 23:00:00+00:00')

,date,temperature_2m,wind_speed_10m,cloud_cover,direct_radiation,diffuse_radiation
0,2024-01-01 00:00:00+00:00,7.31,26.874910,35.0,0.0,0.0
1,2024-01-01 01:00:00+00:00,7.31,25.570139,51.0,0.0,0.0
2,2024-01-01 02:00:00+00:00,7.16,25.704100,24.0,0.0,0.0
3,2024-01-01 03:00:00+00:00,6.96,25.199997,40.0,0.0,0.0
4,2024-01-01 04:00:00+00:00,6.81,24.774696,47.0,0.0,0.0